.login {
}

.login__container {
    /*box-shadow: #eee 0 0 3px 3px;*/
    border: 1px solid #ededed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
}

.login__title {
    margin: 16px 0 32px 0;
    font-size: 46px;
    font-weight: normal;
}

.login__form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
}

.login__input {
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ededed;
    padding: 8px 16px;
}

.login__input_submit {
    border-color: #FF9400;
    background-color: #FF9400;
    color: white;
}

.login__checkbox {
    margin: 10px 0;
}